:root {
  --text-color-2-3: hsl(0, 0%, 100%);
  --text-color-1: hsl(0, 0%, 70%);
  --text-color-4: hsl(220, 100%, 50%);
  --background-color-darker: hsl(207, 29%, 14%);
  --background-color: hsl(207, 26%, 17%);
  --background-color-transparent: hsla(207, 29%, 14%, 0.9);
  --background-color-lighter: hsl(209, 23%, 23%);
  --background-color-lighter-ex: hsl(209, 19%, 32%);
  --btn-color-blue: hsl(220, 100%, 50%);
}

[data-theme="light"] {
  --text-color-2-3: hsl(0, 0%, 0%);
  --text-color-1: hsl(0, 0%, 10%);
  --text-color-4: hsl(220, 100%, 50%);
  --background-color-darker: hsl(0, 0%, 96%);
  --background-color: hsl(0, 0%, 86%);
  --background-color-transparent: hsla(0, 0%, 96%, 0.9);
  --background-color-lighter: hsl(0, 0%, 76%);
  --background-color-lighter-ex: hsl(0, 0%, 66%);
  --btn-color-blue: hsl(220, 100%, 50%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.mg-bt-2rem {
  margin-bottom: 2rem;
}

.mg-right-2rem {
  margin-right: 2rem;
}

.grid-in-row {
  display: grid;
  grid-template-columns: 5fr 2.5fr 2.5fr 2.5fr 0.5fr;
  gap: 1rem;
  align-items: center;
}

.grid-in-column {
  display: grid;
  gap: 0.8rem;
}

.heading-1 {
  color: var(--text-color-2-3);
  font-size: 2rem;
  font-weight: 800;
}

.heading-2 {
  color: var(--text-color-2-3);
  font-size: 1.8rem;
  font-weight: 800;
}

.text-1 {
  color: var(--text-color-1);
  font-size: 1.4rem;
  font-weight: 400;
}

.text-2 {
  color: var(--text-color-2-3);
  font-size: 1.4rem;
  font-weight: 400;
}

.text-3 {
  color: var(--text-color-2-3);
  font-size: 1.6rem;
  font-weight: 600;
}

.text-4 {
  color: var(--text-color-4);
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-text-1 {
  color: var(--text-color-1);
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-text-2 {
  color: var(--text-color-2-3);
  font-size: 1.4rem;
  font-weight: 600;
}

.status {
  width: 90%;
  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-lighter-ex);
  font-weight: 600;
  font-size: 1.4rem;
}

@media only screen and (max-width: 400px) {
  .status {
    width: 50%;
    margin: 0 0 0 auto;
  }
}

.status--Paid {
  color: palegreen;
  font-weight: 800;
  background-color: rgba(152, 251, 152, 0.3);
}

.status--Pending {
  color: orange;
  font-weight: 800;
}

.status--Draft {
  color: var(--text-color-2-3);
}

.invoices__list-item-amount,
.item-total-price {
  text-align: right;
}

.btn {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn--hide {
  display: none;
}

.btn--creat-new-invoice {
  background-color: var(--btn-color-blue);
}

.btn--creat-new-invoice .cross-sign {
  font-size: 1.6rem;
}

.btn--go-back .leftarrow {
  display: inline-block;
  margin-right: 2rem;
}

.btn--edit {
  background-color: var(--background-color-lighter-ex);
  margin-right: 2rem;
}

.btn--delete {
  background-color: red;
  margin-right: 2rem;
}

.btn--markaspaid {
  background-color: var(--btn-color-blue);
}

.btn--new-inovice-item-delete {
  padding: 0;
}

.btn--invoice-item-add-new {
  background-color: var(--background-color-lighter);
}

.btn--invoice-discard {
  background-color: var(--background-color-lighter-ex);
  margin-right: auto;
}

.btn--invoice-save-draft {
  background-color: var(--background-color-lighter-ex);
}

.btn--invoice-save-send {
  background-color: var(--btn-color-blue);
}

.btn--edit-invoice-cancel {
  background-color: var(--background-color-lighter-ex);
  margin-right: auto;
}

.btn--edit-invoice-savedraft {
  background-color: var(--background-color-lighter);
}

.btn--edit-invoice-save {
  background-color: var(--btn-color-blue);
}

input {
  border: none;
  width: 100%;
  background-color: var(--background-color-lighter);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input:focus {
  outline: none;
}

.btn-- input {
  border: none;
  width: 100%;
  background-color: var(--background-color-lighter);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.btn-- input:focus {
  outline: none;
}

select {
  border: none;
  width: 100%;
  background-color: var(--background-color-lighter);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

select:focus {
  outline: none;
}

.app {
  max-width: 80rem;
  margin: 0rem auto;
  border-radius: 1rem;
}

@media only screen and (min-width: 1200px) {
  .app {
    max-width: 90rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-lighter);
  padding: 2rem 2rem;
}

.logo {
  font-size: 5rem;
  color: blue;
}

.content {
  position: relative;
  min-height: 150vh;
  overflow: hidden;
  background-color: var(--background-color);
}

.content-invoices-page1 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 3rem 4rem;
  background-color: var(--background-color);
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .content-invoices-page1 {
    padding: 3rem 2rem;
  }
}

.invoices-page-hide {
  left: -100%;
}

.invoices__header-box {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}

.invoices__header-box .invoices__total-number-box {
  margin-right: auto;
}

.invoices__header-box .invoices__filter-bar-box {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .invoices__header-box .invoices__filter-bar-box {
    order: 1;
    width: 100%;
    margin-top: 2rem;
  }
}

.invoices__header-box .invoices__filter-bar-box .btn-invoices__filter-bar {
  min-width: 16rem;
  background-color: var(--background-color-lighter-ex);
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .invoices__header-box .invoices__filter-bar-box .btn-invoices__filter-bar {
    min-width: 100%;
  }
}

.invoices__header-box .invoices__filter-bar-box .invoices__filter-droplist {
  position: absolute;
  width: 90%;
  height: 0;
  left: 1rem;
  opacity: 0;
  background-color: var(--background-color-lighter);
  transition: 0.2s;
}

.invoices__header-box .invoices__filter-bar-box .invoices__filter-droplist-item {
  padding: 0.5rem 1rem;
}

.invoices__header-box .invoices__filter-bar-box .invoices__filter-droplist-item:hover {
  color: var(--text-color-1);
  background-color: var(--background-color-lighter-ex);
}

.invoices__header-box .invoices__filter-bar-box .droplist-shown {
  height: auto;
  opacity: 1;
}

.invoices__list-item {
  background-color: var(--background-color-lighter);
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 1rem;
  display: grid;
  margin-bottom: 2.5rem;
  grid-template-columns: 1.3fr 1fr 0.8fr 1fr 0.8fr 0.2fr;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .invoices__list-item {
    grid-template-columns: 1.3fr 1.3fr 1.3fr 0.8fr 0.2fr;
    gap: 1rem;
    grid-template-areas: "a b c d e" "a f c d e";
  }
  .invoices__list-item .invoices__list-item-sn {
    grid-area: a;
  }
  .invoices__list-item .invoices__list-item-due-date {
    grid-area: b;
  }
  .invoices__list-item .invoices__list-item-clientname {
    grid-area: f;
  }
  .invoices__list-item .invoices__list-item-amount {
    grid-area: c;
  }
  .invoices__list-item .invoices__list-item-status {
    grid-area: d;
  }
  .invoices__list-item .invoices__list-item-rightarrow {
    grid-area: e;
  }
}

@media only screen and (max-width: 400px) {
  .invoices__list-item {
    padding: 0.5rem 1rem 0.5rem 4rem;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-areas: "a f  e" "b . e" "c d  e";
    align-items: center;
  }
  .invoices__list-item .invoices__list-item-sn {
    grid-area: a;
  }
  .invoices__list-item .invoices__list-item-due-date {
    grid-area: b;
  }
  .invoices__list-item .invoices__list-item-clientname {
    grid-area: f;
    text-align: right;
    font-size: 1.8rem;
  }
  .invoices__list-item .invoices__list-item-amount {
    grid-area: c;
    text-align: left;
  }
  .invoices__list-item .invoices__list-item-status {
    grid-area: d;
  }
  .invoices__list-item .invoices__list-item-rightarrow {
    grid-area: e;
  }
}

.invoices__list-item:hover {
  transform: translateY(-0.2rem);
  background-color: var(--background-color-lighter-ex);
}

.invoices__list-item:hover .invoices__list-item-rightarrow {
  color: var(--text-color-2-3);
}

.invoices__list-item:active {
  transform: translateY(0rem);
}

.content-invoice-page2 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  padding: 3rem 4rem;
  background-color: var(--background-color);
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .content-invoice-page2 {
    padding: 3rem 2rem;
  }
}

.invoice-page-show {
  left: 0;
}

.invoice__header-box {
  padding: 1rem 2rem;
  background-color: var(--background-color-lighter);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

@media only screen and (max-width: 600px) {
  .invoice__header-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .invoice__header-box .invoice__buttons-box {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

.inovice__content-box {
  padding: 2rem;
  background-color: var(--background-color-lighter);
  border-radius: 1rem;
}

.inovice__content-box .invoice__content-part-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.inovice__content-box .invoice__content-part-1 .invoice__from-address-box {
  text-align: right;
}

.inovice__content-box .invoice__content-part-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .inovice__content-box .invoice__content-part-2 {
    flex-wrap: wrap;
  }
  .inovice__content-box .invoice__content-part-2 .invoice__sent-to-box {
    margin-top: 2rem;
  }
}

.inovice__content-box .invoice__content-part-2 .invoice__dates-box {
  height: 12rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inovice__content-box .invoice-content-part-3 {
  border-radius: 0.5rem;
  overflow: hidden;
}

.inovice__content-box .invoice-content-part-3 table {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color-lighter-ex);
}

.inovice__content-box .invoice-content-part-3 table th,
.inovice__content-box .invoice-content-part-3 table td {
  padding: 1rem;
}

.inovice__content-box .invoice-content-part-3 tr .item-description {
  text-align: left;
}

.inovice__content-box .invoice-content-part-3 tr .item-qty {
  text-align: center;
}

.inovice__content-box .invoice-content-part-3 tr .item-price,
.inovice__content-box .invoice-content-part-3 tr .item-total {
  text-align: right;
}

.inovice__content-box .invoice-content-part-3 .table-end {
  padding: 2rem;
  background-color: var(--background-color-darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-invoice__overlay,
.edit-invoice__overlay {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  background-color: var(--background-color-transparent);
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.new-invoice__overlay .invoice__outer-box,
.edit-invoice__overlay .invoice__outer-box {
  width: 80%;
  overflow: scroll;
  height: calc(100vh - 4rem);
}

@media only screen and (max-width: 600px) {
  .new-invoice__overlay .invoice__outer-box,
  .edit-invoice__overlay .invoice__outer-box {
    width: 100%;
  }
}

.new-invoice__overlay .invoice__outer-box::-webkit-scrollbar,
.edit-invoice__overlay .invoice__outer-box::-webkit-scrollbar {
  width: 1.5rem;
}

.new-invoice__overlay .invoice__outer-box::-webkit-scrollbar-thumb,
.edit-invoice__overlay .invoice__outer-box::-webkit-scrollbar-thumb {
  background-color: var(--background-color-lighter-ex);
  outline: none;
  border-radius: 1rem;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box {
  padding: 4rem 4rem 2rem 4rem;
  background-color: var(--background-color);
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  .new-invoice__overlay .invoice__outer-box .invoice__inner-box,
  .edit-invoice__overlay .invoice__outer-box .invoice__inner-box {
    padding: 3rem 2rem 2rem 2rem;
  }
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas: "address address address" "city post-code country";
  gap: 1.5rem;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-address,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-address {
  grid-area: address;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-city,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-city {
  grid-area: city;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-post-code,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-post-code {
  grid-area: post-code;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-country,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-from-table .bill-from-country {
  grid-area: country;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas: "client-name client-name client-name" "client-email client-email client-email" "address address address" "city post-code country";
  gap: 1.5rem;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-client-name,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-client-name {
  grid-area: client-name;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-client-email,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-client-email {
  grid-area: client-email;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-address,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-address {
  grid-area: address;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-city,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-city {
  grid-area: city;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-post-code,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-post-code {
  grid-area: post-code;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-country,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .bill-to-table .bill-to-country {
  grid-area: country;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: "invoice-date payment-term " "description description";
  gap: 1.5rem;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-date,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-date {
  grid-area: invoice-date;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-payment-term,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-payment-term {
  grid-area: payment-term;
}

.new-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-project-description,
.edit-invoice__overlay .invoice__outer-box .invoice__inner-box .diescription-table .invoice-project-description {
  grid-area: description;
}

.new-invoice__overlay .invoice__outer-box .item-list-box,
.edit-invoice__overlay .invoice__outer-box .item-list-box {
  display: grid;
  gap: 1.5rem;
}

.new-invoice__overlay .invoice__outer-box .new-invoice__buttons-box,
.edit-invoice__overlay .invoice__outer-box .new-invoice__buttons-box {
  position: sticky;
  bottom: 0;
  background-color: var(--background-color-lighter);
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
}

.overlay--shown {
  left: 0;
  z-index: 1;
  opacity: 1;
}

.edit-invoice__buttons-box {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */