.heading-1 {
  color: var(--text-color-2-3);
  font-size: 2rem;
  font-weight: 800;
}

.heading-2 {
  color: var(--text-color-2-3);
  font-size: 1.8rem;
  font-weight: 800;
}

.text-1 {
  color: var(--text-color-1);
  font-size: 1.4rem;
  font-weight: 400;
}

.text-2 {
  color: var(--text-color-2-3);
  font-size: 1.4rem;
  font-weight: 400;
}

.text-3 {
  color: var(--text-color-2-3);
  font-size: 1.6rem;
  font-weight: 600;
}

.text-4 {
  color: var(--text-color-4);
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-text-1 {
  color: var(--text-color-1);
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-text-2 {
  color: var(--text-color-2-3);
  font-size: 1.4rem;
  font-weight: 600;
}

.status {
  width: 90%;
  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-lighter-ex);
  font-weight: 600;
  font-size: 1.4rem;
  @include break(400) {
    width: 50%;
    margin: 0 0 0 auto;
  }

  &--Paid {
    color: palegreen;
    font-weight: 800;
    background-color: rgba($color: palegreen, $alpha: 0.3);
  }

  &--Pending {
    color: orange;
    font-weight: 800;
  }

  &--Draft {
    color: var(--text-color-2-3);
  }
}

.invoices__list-item-amount,
.item-total-price {
  text-align: right;
}
